
@import "Navbar.css";

#Home {
  font-family: "Courier New", Courier, monospace;
	min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

#Home #boxCenter {
  display: block;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
  opacity: 0.9;
	background-color: #FCE9FF;
	border-radius: 15px;
	margin-left: auto;
  margin-right: auto;

  margin-top: 100px;

  width: 25%;
  height: 45%
  padding: 10px;
  font-weight: bold;
  font-size: 0.85em;
  color: #474646;
  text-align: center;
  vertical-align: middle;
}

#Home #boxCenter #Me img {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
	height: 45%;
}

#Home #boxCenter h2 {

  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
}


#Home #boxCenter h3 {
  font-weight: bold;
  color: #474646;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

#Home #boxCenter #Resume {
  text-decoration-line: underline;
}

#ImageLinks img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: 15%;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 0.9; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 0.9; }
}


body {
  background-image: url("../Images/Wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}
