#Navbar {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
  overflow: hidden;
  border-bottom: 2px inset gray;
  background-image: linear-gradient(to top, #AC88FF, #C785DC);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
li {
  float: left;
}

#Navbar #logo {
  padding-right: 10px;
}
#Navbar #Neptune {
  display: block;
  font-weight: bold;

  color: black;
  padding: 20px 30px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#Navbar #Neptune:hover {
  background-color: #93D2FF;
}


#Home {
  font-family: "Courier New", Courier, monospace;
	min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

#Home #boxCenter {
  display: block;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
  opacity: 0.9;
	background-color: #FCE9FF;
	border-radius: 15px;
	margin: auto;
  width: 25%;
  height: 75%
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #474646;
  text-align: center;
  vertical-align: middle;
}

#Home #boxCenter #Me img {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
	height: 45%;
}

#Home #boxCenter h2 {

  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
}


#Home #boxCenter h3 {
  font-weight: bold;
  color: #474646;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

#Home #boxCenter #Resume {
  font-size: 28px;
  text-decoration-line: underline;


}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 0.9; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 0.9; }
}


body {
  background-image: url("../Images/Wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}
