@import "Navbar.css";





#NeptuneSounds{
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  width: 65%;
  padding-bottom: 1000px;
}

#Home
{
  list-style-type: none;
  display: inline-block;
  background-color: #FCE9FF;
  border-radius: 105px;
  margin-top:100px;

  margin-left:auto;
  margin-right:auto;
  width: 75%;
  height: 45%;
  font-weight: bold;
  font-size: 1.05em;
  color: #474646;
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-direction: row;


}

.buttons
{
  display: inline-block;
  opacity: 0.9;
	background-color: #FCE9FF;
	border-radius: 15px;
  margin: auto;
  padding-top: 10px;
  width: 20%;
  font-weight: bold;
  font-size: 1.05em;
  color: #474646;
}


#NeptunePics{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
}

#pics {
  background: #FCE9FF;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1vh;
  margin-bottom: 13vh;
  border-radius: 105px;
}

#pics li{
  padding: 0px;
  width: 25%;
  background-color: #E0A8F5;
  display: flex;
  border-radius: 15vh;
  align-items: center;
  margin-top: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  margin-left: 4%;
}

#pics li img{

  width: 85%;
  height: 85%;
  border-radius: 15vh;
  padding: 7.5% 7.5%;

}

#NeptuneGifs {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
}

#gifs {
  background: #FCE9FF;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1vh;
  margin-bottom: 13vh;
  border-radius: 105px;
}

#gifs li {
  padding: 0px;
  width: 25%;
  background-color: #E0A8F5;
  display: flex;
  border-radius: 15vh;
  align-items: center;
  margin-top: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  margin-left: 4%;
}

#gifs li img {
  width: 85%;
  height: 85%;
  border-radius: 15vh;
  padding: 7.5% 7.5%;
}
.innerBody{
  position: absolute;
  font-weight: bold;
  font-size: 1.05em;
  margin-top: 40px;
}

body {
  background-image: url("../Images/Wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}
